version: '3.9'

services:
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8000:80"
    env_file:
      - ./gateway/.env
    depends_on:
      - db_gateway
    networks:
      - erp-net

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8001:80"
    env_file:
      - ./auth-service/.env
    depends_on:
      - db_auth
    networks:
      - erp-net

  hr-service:
    build: ./hr-service
    container_name: hr-service
    ports:
      - "8002:80"
    env_file:
      - ./hr-service/.env
    depends_on:
      - db_hr
    networks:
      - erp-net

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8003:80"
    env_file:
      - ./inventory-service/.env
    depends_on:
      - db_inventory
    networks:
      - erp-net

  accounts-service:
    build: ./accounts-service
    container_name: accounts-service
    ports:
      - "8004:80"
    env_file:
      - ./accounts-service/.env
    depends_on:
      - db_accounts
    networks:
      - erp-net

  db_gateway:
    image: mysql:8.0
    container_name: db_gateway
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gateway_db
      MYSQL_USER: gateway_user
      MYSQL_PASSWORD: gateway_pass
    ports:
      - "33060:3306"
    volumes:
      - db_gateway_data:/var/lib/mysql
    networks:
      - erp-net

  db_auth:
    image: mysql:8.0
    container_name: db_auth
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db
    ports:
      - "33061:3306"
    volumes:
      - db_auth_data:/var/lib/mysql
    networks:
      - erp-net

  db_hr:
    image: mysql:8.0
    container_name: db_hr
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hr_db
    ports:
      - "33062:3306"
    volumes:
      - db_hr_data:/var/lib/mysql
    networks:
      - erp-net

  db_inventory:
    image: mysql:8.0
    container_name: db_inventory
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: inventory_db
    ports:
      - "33063:3306"
    volumes:
      - db_inventory_data:/var/lib/mysql
    networks:
      - erp-net

  db_accounts:
    image: mysql:8.0
    container_name: db_accounts
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: accounts_db
    ports:
      - "33064:3306"
    volumes:
      - db_accounts_data:/var/lib/mysql
    networks:
      - erp-net

volumes:
  db_gateway_data:
  db_auth_data:
  db_hr_data:
  db_inventory_data:
  db_accounts_data:

networks:
  erp-net:
    driver: bridge
